/*
Author: Shane Mack
Date: 4/21/2024
File Name: apply08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/* Style rule for the table element */
table {
    width: 80%;
    margin: 0 auto;
    border: 3px solid #71881b;
    border-collapse: collapse; /* Collapse the borders */
    padding: 2%; /* Set padding to 2% */
}

/* Style rule for table row */
tr {
    padding: 2%; /* Set padding to 2% */
}

/* Style rule for table header cells */
th {
    padding: 2%; /* Set padding to 2% */
    border: 1px solid #7188bb; /* Set border */
}

/* Style rule for table data cells */
td {
    padding: 2%; /* Set padding to 2% */
    border: 1px solid #7188bb; /* Set border */
    text-align: center; /* Center-align text */
}

/* Style rule for the caption element */
caption {
    font-size: 2em; /* Set font size to 2em */
    padding: 2%; /* Set padding to 2% */
    margin-top: 2%; /* Set top margin to 2% */
}

/* Style rule for odd rows */
tr:nth-child(odd) {
    background-color: #d3e788; /* Set background color to #d3e788 */
}